.image-with-text__grid {
    @media screen and (min-width: 750px) {
        display: flex;
        .image-with-text__media {
            position: relative;
            min-height: 100%;
            svg {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
}

.image-with-text__media {
    position: relative;
    min-height: 100%;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.image-with-text__left {
    @media screen and (min-width: 750px) {
        width: 50%;
    }
    // width: 50%;
    // height: 100px;

    // svg {
    //     width: 520px;
    //     height: 365px;
    // }
    // img {
    //     width: 520px;
    //     height: 365px;
    // }

}

.image-with-text__right {
    @media screen and (min-width: 750px) {
        width: 50%;
    }
    // background-color: #334FB4;
    // h2 {
    //     color: white;
    // }
    // width: 100%;

    // .image-with-text__right-content {
        // position: relative;
        // height: 365px;
        // padding: 70px 70px;
        // top: -50px;
        // h2 {
        //     color: rgb(255, 255, 255);
        //     font-family: Assistant, sans-serif;
        //     font-weight: 400;
        //     font-size: 40px;
        // }
        // p {
        //     color: rgba(255, 255, 255, 0.75);
        //     width: 410px;
        //     letter-spacing: 0.6px;
        //     line-height: 28.8px;
        //     font-family: Assistant, sans-serif;
        //     font-weight: 400;
        //     font-size: 16px;
        // }
        // a {
        //     display: flex;
        //     color: rgb(51, 79, 180);
        //     background-color: rgb(255, 255, 255, 0.5);
        //     border-bottom-color: rgb(51, 79, 180);
        //     font-size: 15px;
        //     font-weight: 400;
        //     line-height: 18px;
        //     height: 47px;
        //     width: 148px;
        //     padding: 0 30px;
        //     align-items: center;
        //     position: relative;
        //     justify-content: center;
        // }
    // }
}

.image-with-text__media--small {
    height: 19.4rem;
}
.image-with-text__media--medium {
    height: 29.6rem;
}

.image-with-text__media--large {
    height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--small {
    height: 31.4rem;
  }

  .image-with-text__media--medium {
    height: 46rem;
  }

  .image-with-text__media--large {
    height: 69.5rem;
  }
}

.image-with-text__right-content--mobile-right > * {
  align-self: flex-end;
  text-align: right;
}

.image-with-text__right-content--mobile-center > * {
  align-self: center;
  text-align: center;
}

@media screen and (min-width: 750px) {
    .image-with-text__grid--reverse .image-with-text__content {
        margin-left: auto;
      }
    
      .image-with-text__content--bottom {
        justify-content: flex-end;
        align-self: flex-end;
      }
    
      .image-with-text__content--top {
        justify-content: flex-start;
        align-self: flex-start;
      }
    
      .image-with-text__content--desktop-right > * {
        align-self: flex-end;
        text-align: right;
      }
    
      .image-with-text__content--desktop-left > * {
        align-self: flex-start;
        text-align: left;
      }
    
      .image-with-text__content--desktop-center > * {
        align-self: center;
        text-align: center;
      }
    
      .image-with-text--overlap .image-with-text__text-item {
        display: flex;
        padding: 3rem 0;
      }
    
      .image-with-text--overlap .image-with-text__content {
        height: auto;
        width: calc(100% + 4rem);
        min-width: calc(100% + 4rem);
        margin-top: 0;
        margin-left: -4rem;
      }    

    .image-with-text--overlap .image-with-text__media-item--top {
        align-self: flex-start;
    }

    .image-with-text--overlap .image-with-text__media-item--middle {
    align-self: center;
    }

    .image-with-text--overlap .image-with-text__media-item--bottom {
    align-self: flex-end;
    }
}

.image-with-text__media--placeholder > svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
  
  .image-with-text__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-self: center;
    padding: 4rem calc(4rem / var(--font-body-scale)) 5rem;
    position: relative;
    z-index: 1;
  }
  
  .image-with-text .grid__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  